<!-- INCLUDE overall_header.html -->

<div id="pagecontent">

	<form method="get" action="try_auth.php">
		{S_FORM_TOKEN}
		<fieldset class="quick-login">
			<input type="hidden" name="action" value="verify" />
			<label for="openid_url"><a title="About OpenID" href="http://openid.net/what/">OpenID:</a></label>
			<input type="text" name="openid_url" id="openid" class="inputbox    openid_login" size="10" class="inputbox" title="{L_USERNAME}" style="width:   14%" />
			<input type="submit" name="login" value="GO" class="button2" />
			<a title="phpbbopenid support" href="http://phpbbopenid.com">(Support)</a>
		</fieldset>
	</form>
	<form method="post" action="kgs_try_auth.php">
		{S_FORM_TOKEN}
		<fieldset class="quick-login">
			<input type="hidden" name="action" value="verify" />
			<label for="kgs_username">KGS (<a title="Please read" href="/?page=kgs_login">important info</a>):</label>
			<input type="text" name="kgs_username" class="inputbox openid_login" size="10" class="inputbox" title="{L_USERNAME}" style="width:14%" />
			<label for="kgs_password">Pass:</label>
			<input type="password" name="kgs_password" class="inputbox openid_login" size="10" class="inputbox" title="{L_USERNAME}" style="width:14%" />
			<input type="submit" name="login" value="GO" class="button2" />
		</fieldset>
	</form>
	<form name="login_forum" method="post" action="{S_LOGIN_ACTION}">
	
	<table class="tablebg" width="100%" cellspacing="1" align="center">
	<tr> 
		<th>{L_LOGIN}</th>
	</tr>
	<tr>
		<td class="row3" align="center"><span class="gensmall">{L_LOGIN_FORUM}</span></td>
	</tr>
	<tr> 
		<td class="row1" align="center">
		
			<table cellspacing="1" cellpadding="4" border="0">
			<!-- IF LOGIN_ERROR -->
				<tr>
					<td class="gensmall" colspan="2" align="center"><span class="error">{LOGIN_ERROR}</span></td>
				</tr>
			<!-- ENDIF -->
			<tr> 
				<td class="gensmall"><b>{L_PASSWORD}:</b></td>
				<td><input class="post" type="password" name="password" size="25" tabindex="2" /></td>
			</tr>
			</table>
		</td>
	</tr>
	<tr> 
		<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input type="submit" name="login" class="btnmain" value="{L_LOGIN}" tabindex="3" /></td>
	</tr>
	</table>
	{S_FORM_TOKEN}
	</form>

</div>

<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<br clear="all" />

<div align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->
